# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/

# Environment variables
.env

# IDE settings
.vscode/
.idea/
*.DS_Store

# Django specific
db.sqlite3
media/
staticfiles/
